body{
font-family: Arial, Helvetica, sans-serif;    
font-size: 15px;
line-height: 1.5;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}






/* global*/
.container{
width: 80%;
margin:auto;
overflow: hidden; 
}

ul{
    margin: 0;
   padding:0;     
   }
.button_1{
height: 38px;
background:#e8491d;
border: none;
padding-left: 20px;
padding-right: 20px;
color: #ffffff;
}   
.dark{
padding: 15px;
background: #354248;
color: #ffffff; 
margin-top: 10px;
margin-bottom: 10px;   
}

/* Header */
header{
background: #354248;
color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;   
}

header ul{
margin: 0;
padding: 0;    
}

header li{
float:left;
display: inline;
padding: 0 20px 0 20px;    
}

header #branding h1{
margin: 0;
}
header nav{
float: right;
margin-top: 10px;    
}
header .highlight, header .current a{
color: #e8491d;
font-weight: bold;    
}
header a:hover{
color:#cccccc;
font-weight: bold    
}
/* showcase */
#showcase{
min-height:400px; 
background: url("images/slider0.jpg") no-repeat 0 -250px;
text-align: center;

  
}
#showcase h1{
margin-top: 100px;
font-size: 55px;
margin-bottom: 10px;
color: rgb(246, 108, 16);     
}
#showcase p{
font-size: 20px;    
}
#label{
padding: 15px;
color: #ffffff;
background: #35424a;  
}


/* How it works*/
#label h1{
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;    
}

/* boxes*/
#boxes{
margin-top: 20px;
}
#boxes .box{
float: left;
width: 30%;
padding: 10px;
text-align: center;    
}
#boxes .box img{
width: 220px;    
}

/* Side Bar*/
aside#sidebar{
float: right;
width: 30%;
margin-top:10px;     
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
width: 95px;
padding: 10px;    
}
/* Main col*/
article#main-col{
float: left;
width: 65%;    
}

/* Services*/
ul#services li{
list-style: none;
padding: 5px;
border: #cccccc solid 1px;
margin-bottom:5px;
background: #e6e6e6;      
}


/* footer*/
footer{
padding: 20px;
margin-top: 20px;
color: #ffffff;
background-color: #e8491d;
text-align: center;    
}

/* footer*/
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li, #label h1, #boxes .box, article#main-col, aside#sidebar{
    float:none;
    text-align: center;
    width: 100%;
} 
header{
padding-bottom: 20px;    
}
#showcase h1{
margin-top: 40px;   
} 
#label button, .quote button,{
display: block;
width:100%;    
} 

}


.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


/*Signup form  */
input {
	border-radius: 5px;
	padding: 5px;
}

div.button {
	text-align: right;
}

a {
	text-decoration: none;
	color: #e51;
}

form { 
	width: 480px; 
	margin: auto;
	padding: 5px; 
	border: solid black 1px;	
	border-radius: 5px;  
	box-shadow: 5px 5px 2px #888;
}

#img{
display: block;
margin-left: auto;
margin-right: auto;
width: 10%;
border-radius: 50%;
}


/* google map */
#direction h1{
color: white;
text-align: center;
background: #292c2f;
}

#map{
 height: 400px;
width: 100%;  
}  


/* account creation section */
.button,h3{
color: blue;
}
#top-header h3{
text-align: center;
}
